{
  "log": {
    "_recordingName": "iterateHostDetections",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "81a059903e81022e14b398e7c1364f8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "details",
              "value": "None"
            },
            {
              "name": "truncation_limit",
              "value": "0"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/?action=list&details=None&truncation_limit=0"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 736,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE HOST_LIST_OUTPUT SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/host_list_output.dtd\">\n<!-- This report was generated with an evaluation version of Qualys //--> \n<HOST_LIST_OUTPUT>\n  <RESPONSE>\n    <DATETIME>2020-09-27T01:27:44Z</DATETIME>\n    <ID_SET>\n      <ID>107800671</ID>\n    </ID_SET>\n  </RESPONSE>\n</HOST_LIST_OUTPUT>\n<!-- This report was generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty that the information contained in this report is complete or error-free. Copyright 2020, Qualys, Inc. //--> \n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3429,
      },
      {
        "_id": "642f35532876b263cb06059645e6db66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "action=list&show_tags=1&show_igs=1&output_format=XML&ids=107800671"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/vm/detection/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 749,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE HOST_LIST_VM_DETECTION_OUTPUT SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/vm/detection/host_list_vm_detection_output.dtd\">\n<!-- This report was generated with an evaluation version of Qualys //--> \n<HOST_LIST_VM_DETECTION_OUTPUT>\n  <RESPONSE>\n    <DATETIME>2020-09-27T01:29:21Z</DATETIME>\n  </RESPONSE>\n</HOST_LIST_VM_DETECTION_OUTPUT>\n<!-- This report was generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty that the information contained in this report is complete or error-free. Copyright 2020, Qualys, Inc. //--> \n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "293"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2637,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
