{
  "log": {
    "_recordingName": "fetchScannedWebAppFindings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/portal/version"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/xml",
            "size": 1041,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/version.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>1</count>\n  <data>\n    <Portal-Version>\n      <PortalApplication-VERSION>3.13.1.0-14 OFFICIAL #84 (2022-12-08T10:26:21Z)</PortalApplication-VERSION>\n      <QWEB__VM-VERSION>2.13.1-1</QWEB__VM-VERSION>\n      <ITAM-VERSION>2.13.0.0-4</ITAM-VERSION>\n      <WAF-VERSION>2.13.8.0</WAF-VERSION>\n      <QUESTIONNAIRE__V2-VERSION>1.21.1.0</QUESTIONNAIRE__V2-VERSION>\n      <WAS-VERSION>1.5.0.0-4</WAS-VERSION>\n      <ICS-VERSION>1.0.1.0-31</ICS-VERSION>\n      <WAF__V3-VERSION>3.0.4.0</WAF__V3-VERSION>\n      <CERTVIEW-VERSION>2.11.0.0-16</CERTVIEW-VERSION>\n      <CLOUDVIEW-VERSION>1.25.1.0-34</CLOUDVIEW-VERSION>\n      <MDS-VERSION>2.19.3.0-1</MDS-VERSION>\n      <PS-VERSION>1.5.3.2-9</PS-VERSION>\n      <IOC-VERSION>2.2.2-23</IOC-VERSION>\n      <OCA-VERSION>1.8.0.2</OCA-VERSION>\n      <UD-VERSION>1.3.0-21</UD-VERSION>\n      <QWEB__PC-VERSION>1.1.2-13</QWEB__PC-VERSION>\n      <CS-VERSION>1.21.0-56</CS-VERSION>\n      <CA-VERSION>3.13.1.0</CA-VERSION>\n      <SECURITY__ANALYTICS-VERSION>1.0.6</SECURITY__ANALYTICS-VERSION>\n      <QGS-VERSION>1.4.0-12</QGS-VERSION>\n      <QUESTIONNAIRE-VERSION>2.33.1.0</QUESTIONNAIRE-VERSION>\n      <FIM-VERSION>3.6.0.0-75</FIM-VERSION>\n      <CM-VERSION>1.37.0.0</CM-VERSION>\n      <PM-VERSION>2.0.0.0-146</PM-VERSION>\n      <THREAT__PROTECT-VERSION>1.8.1</THREAT__PROTECT-VERSION>\n      <AV2-VERSION>0.1.0</AV2-VERSION>\n      <SEM-VERSION>1.5.0-0</SEM-VERSION>\n      <SSC-VERSION>1.7.0.1</SSC-VERSION>\n      <SM-VERSION>1.5.0.0-55</SM-VERSION>\n    </Portal-Version>\n    <QWeb-Version>\n      <WEB-VERSION>10.20.5.0-2</WEB-VERSION>\n      <SCANNER-VERSION>12.12.38-1</SCANNER-VERSION>\n      <VULNSIGS-VERSION>2.5.669-2</VULNSIGS-VERSION>\n    </QWeb-Version>\n  </data>\n</ServiceResponse>"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1111,
      },
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url":[...]
