{
  "log": {
    "_recordingName": "fetchHostDetails",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "81a059903e81022e14b398e7c1364f8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "details",
              "value": "None"
            },
            {
              "name": "truncation_limit",
              "value": "0"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/?action=list&details=None&truncation_limit=0"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 736,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE HOST_LIST_OUTPUT SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/host_list_output.dtd\">\n<!-- This report was generated with an evaluation version of Qualys //--> \n<HOST_LIST_OUTPUT>\n  <RESPONSE>\n    <DATETIME>2020-09-28T01:41:27Z</DATETIME>\n    <ID_SET>\n      <ID>107800671</ID>\n    </ID_SET>\n  </RESPONSE>\n</HOST_LIST_OUTPUT>\n<!-- This report was generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty that the information contained in this report is complete or error-free. Copyright 2020, Qualys, Inc. //--> \n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2763,
      },
      {
        "_id": "0461695aca023cfd769c75e763ce205d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "\n    <ServiceRequest>\n      <preferences>\n        <limitResults>1</limitResults>\n      </preferences>\n      <filters>\n        <Criteria field=\"qwebHostId\" operator=\"EQUALS\">107800671</Criteria>\n      </filters>\n    </ServiceRequest>"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/2.0/search/am/hostasset"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 2353,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/2.0/am/hostasset.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>1</count>\n  <hasMoreRecords>false</hasMoreRecords>\n  <data>\n    <HostAsset>\n      <id>84047683</id>\n      <name>i-02751173c463c34e8</name>\n      <created>2020-09-25T00:50:27Z</created>\n      <modified>2020-09-25T00:51:39Z</modified>\n      <type>HOST</type>\n      <sourceInfo>\n        <list>\n          <Ec2AssetSourceSimple>\n            <assetId>84047683</assetId>\n            <type>EC_2</type>\n            <firstDiscovered>2020-09-25T00:50:28Z</firstDiscovered>\n            <lastUpdated>2020-09-25T00:50:28Z</lastUpdated>\n            <ec2InstanceTags>\n              <tags>\n                <list/>\n              </tags>\n            </ec2InstanceTags>\n            <reservationId>r-0039e8da2a3d2c8c4</reservationId>\n            <availabilityZone>us-east-1f</availabilityZone>\n            <privateDnsName>ip-172-31-66-126.ec2.internal</privateDnsName>\n            <publicDnsName>ec2-3-236-88-110.compute-1.amazonaws.com</publicDnsName>\n            <instanceId>i-02751173c463c34e8</instanceId>\n            <instanceType>t2.medium</instanceType>\n            <createdDate>2020-09-28T01:41:29Z</createdDate>\n            <instanceState>RUNNING</instanceState>\n            <groupId>sg-0366c57adb17d99d7</groupId>\n            <groupName>launch-wizard-2</groupName>\n            <spotInstance>false</spotInstance>\n            <accountId>191097756250</accountId>\n            <subnetId>subnet-98d30a96</subnetId>\n            <vpcId>vpc-4285b538</vpcId>\n            <region>us-east-1</region>\n            <zone>VPC</zone>\n            <imageId>ami-0947d2ba12ee1ff75</imageId>\n            <publicIpAddress>3.236.88.110</publicIpAddress>\n            <privateIpAddress>172.31.66.126</privateIpAddress>\n            <monitoringEnabled>false</monitoringEnabled>\n          </Ec2AssetSourceSimple>\n        </list>\n      </sourceInfo>\n      <qwebHostId>107800671</qwebHostId>\n      <fqdn>ec2-3-236-88-110.compute-1.amazonaws.com</fqdn>\n      <os>Linux</os>\n      <dnsHostName>ec2-3-236-88-110.compute-1.amazonaws.com</dnsHostName>\n      <address>172.31.66.126</address>\n      <trackingMethod>INSTANCE_ID</trackingMethod>\n      <networkInterface>\n        <list>\n          <HostAssetInterface>\n            <hostname>ip-172-31-66-126.ec2.internal</hostname>\n            <interfaceId>eni-02eb1ae00744d1be3</interfaceId>\n            <type>PRIVATE</type>\n            <address>172.31.66.126</address>\n          </HostAssetInterface>\n          <HostAssetInterface>\n            <hostname>ip-172-31-66-126.ec2.internal</hostname>\n            <interfaceId>eni-02eb1ae00744d1be3</interfaceId>\n            <type>PUBLIC</type>\n            <address>3.236.88.110</address>\n          </HostAssetInterface>\n        </list>\n      </networkInterface>\n      <isDockerHost>false</isDockerHost>\n    </HostAsset>\n  </data>\n</ServiceResponse>"
          },
          "headers": [
            {
              "name": "evaluation",
              "value": "false"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 857,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
