{
  "log": {
    "_recordingName": "iterateVulnerabilitiesBadId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ea3b90d8e5c5142fc0123b5ee6006c9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "action=list&ids=abc123"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/knowledge_base/vuln/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 332,
            "text": "<!DOCTYPE SIMPLE_RETURN SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/simple_return.dtd\">\n<SIMPLE_RETURN>\n  <RESPONSE>\n    <DATETIME>2020-10-07T17:46:20Z</DATETIME>\n    <CODE>1905</CODE>\n    <TEXT>parameter ids has invalid value: abc123 (neither a positive integer nor a range: abc123)</TEXT>\n  </RESPONSE>\n</SIMPLE_RETURN>\n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "292"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 2704,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
