{
  "log": {
    "_recordingName": "executeAPIRequest409rateLimit",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d57d46cea076ba061d3d6073c586b74f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "username",
              "value": "upter3sa"
            },
            {
              "name": "truncation_limit",
              "value": "1"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3sa&truncation_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/csv;charset=UTF-8",
            "size": 531,
            "text": "----BEGIN_RESPONSE_BODY_CSV\n\"Date\",\"Action\",\"Module\",\"Details\",\"User Name\",\"User Role\",\"User IP\"\r\n\"2022-03-09T21:04:09Z\",\"request\",\"auth\",\"API: /api/2.0/fo/asset/host/index.php\",\"upter3sa\",\"Manager\",\"136.56.22.0\"\r\n----END_RESPONSE_BODY_CSV\n----BEGIN_RESPONSE_FOOTER_CSV\nWARNING\n\"CODE\",\"TEXT\",\"URL\"\r\n\"1980\",\"1 record limit exceeded. Use URL to get next batch of results.\",\"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3sa&truncation_limit=1&id_max=326948462\"\r\n----END_RESPONSE_FOOTER_CSV\n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "291"
            },
            {
              "name": "content-type",
              "value": "text/csv;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 510,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
