{
  "log": {
    "_recordingName": "iterateWebAppFindingsUnknownId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "21bbd5cfcfab3f2fc38f356e4ded9f77",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<ServiceRequest>\n  <preferences>\n    <limitResults>250</limitResults>\n    <startFromOffset>1</startFromOffset>\n  </preferences>\n  <filters><Criteria field=\"webApp.id\" operator=\"IN\">123</Criteria></filters>\n</ServiceRequest>"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/3.0/search/was/finding/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 476,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/3.0/was/finding.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>0</count>\n</ServiceResponse>"
          },
          "headers": [
            {
              "name": "evaluation",
              "value": "false"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 675,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
