{
  "log": {
    "_recordingName": "iterateHostDetectionsBadId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "642f35532876b263cb06059645e6db66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "action=list&show_tags=1&show_igs=1&output_format=XML&ids=abc123"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/asset/host/vm/detection/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 332,
            "text": "<!DOCTYPE SIMPLE_RETURN SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/simple_return.dtd\">\n<SIMPLE_RETURN>\n  <RESPONSE>\n    <DATETIME>2020-09-27T01:23:36Z</DATETIME>\n    <CODE>1905</CODE>\n    <TEXT>parameter ids has invalid value: abc123 (neither a positive integer nor a range: abc123)</TEXT>\n  </RESPONSE>\n</SIMPLE_RETURN>\n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 2403,
      },
      {
        "_id": "642f35532876b263cb06059645e6db66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-typ[...]
