<HostAsset>
  <id>{{id}}</id>
  <name>i-02751173c463c34e8</name>
  <created>2020-09-25T00:50:27Z</created>
  <modified>2020-09-25T00:51:39Z</modified>
  <type>HOST</type>
  <sourceInfo>
    <list>
      <Ec2AssetSourceSimple>
        <assetId>{{id}}</assetId>
        <type>EC_2</type>
        <firstDiscovered>2020-09-25T00:50:28Z</firstDiscovered>
        <lastUpdated>2020-09-25T00:50:28Z</lastUpdated>
        <ec2InstanceTags>
          <tags>
            <list>
              <EC2Tags>
                <key>Department</key>
                <value>Security</value>
              </EC2Tags>
            </list>
          </tags>
        </ec2InstanceTags>
        <reservationId>r-0039e8da2a3d2c8c4</reservationId>
        <availabilityZone>us-east-1f</availabilityZone>
        <privateDnsName>ip-172-31-66-126.ec2.internal</privateDnsName>
        <publicDnsName>ec2-3-236-88-110.compute-1.amazonaws.com</publicDnsName>
        <instanceId>i-02751173c463c34e8</instanceId>
        <instanceType>t2.medium</instanceType>
        <createdDate>2020-09-29T17:56:28Z</createdDate>
        <instanceState>RUNNING</instanceState>
        <groupId>sg-0366c57adb17d99d7</groupId>
        <groupName>launch-wizard-2</groupName>
        <spotInstance>false</spotInstance>
        <accountId>191097756250</accountId>
        <subnetId>subnet-98d30a96</subnetId>
        <vpcId>vpc-4285b538</vpcId>
        <region>us-east-1</region>
        <zone>VPC</zone>
        <imageId>ami-0947d2ba12ee1ff75</imageId>
        <publicIpAddress>3.236.88.110</publicIpAddress>
        <privateIpAddress>172.31.66.126</privateIpAddress>
        <monitoringEnabled>false</monitoringEnabled>
      </Ec2AssetSourceSimple>
    </list>
  </sourceInfo>
  <qwebHostId>{{id}}</qwebHostId>
  <fqdn>ec2-3-236-88-110.compute-1.amazonaws.com</fqdn>
  <os>Linux</os>
  <dnsHostName>ec2-3-236-88-110.compute-1.amazonaws.com</dnsHostName>
  <address>172.31.66.126</address>
  <trackingMethod>INSTANCE_ID</trackingMethod>
  <networkInterface>
    <list>
      <HostAssetInterface>
        <hostname>ip-172-31-66-126.ec2.internal</hostname>
        <interfaceId>eni-02eb1ae00744d1be3</interfaceId>
        <type>PRIVATE</type>
        <address>172.31.66.126</address>
      </HostAssetInterface>
      <HostAssetInterface>
        <hostname>ip-172-31-66-126.ec2.internal</hostname>
        <interfaceId>eni-02eb1ae00744d1be3</interfaceId>
        <type>PUBLIC</type>
        <address>3.236.88.110</address>
      </HostAssetInterface>
    </list>
  </networkInterface>
  <isDockerHost>false</isDockerHost>
</HostAsset>