<HOST>
  <ID>{{id}}</ID>
  <IP>10.10.10.11</IP>
  <TRACKING_METHOD>IP</TRACKING_METHOD>
  <OS><![CDATA[Windows 2008 R2 Enterprise Service Pack1]]></OS>
  <DNS><![CDATA[2k8r2-u-10-11]]></DNS>
  <NETBIOS><![CDATA[2K8R2-U-10-11]]></NETBIOS>
  <LAST_SCAN_DATETIME>2018-04-13T03:49:05Z</LAST_SCAN_DATETIME>
  <LAST_VM_SCANNED_DATE>2018-04-13T03:48:50Z</LAST_VM_SCANNED_DATE>
  <LAST_VM_SCANNED_DURATION>352</LAST_VM_SCANNED_DURATION>
  <DETECTION_LIST>
      {{#detections}}{{> hostDetection}}{{/detections}}
  </DETECTION_LIST>
</HOST>