<DETECTION>
  <QID>{{qid}}</QID>
  <TYPE>Confirmed</TYPE>
  <SEVERITY>2</SEVERITY>
  <PORT>3389</PORT>
  <PROTOCOL>tcp</PROTOCOL>
  <SSL>1</SSL>
  <RESULTS
><![CDATA[Certificate #0 CN=2k8r2-u-10-11(2k8r2-u-10-11) doesn&apos;tresolve]]></RESULTS>
  <STATUS>Active</STATUS>
  <FIRST_FOUND_DATETIME
>2018-01-26T04:45:50Z</FIRST_FOUND_DATETIME>
  <LAST_FOUND_DATETIME
>2018-04-13T03:48:50Z</LAST_FOUND_DATETIME>
  <TIMES_FOUND>111</TIMES_FOUND>
  <LAST_TEST_DATETIME>2018-04-13T03:48:50Z</LAST_TEST_DATETIME>
  <LAST_UPDATE_DATETIME
>2018-04-13T03:49:05Z</LAST_UPDATE_DATETIME>
  <IS_IGNORED>0</IS_IGNORED>
  <IS_DISABLED>0</IS_DISABLED>
  <LAST_PROCESSED_DATETIME
>2018-04-13T03:49:05Z</LAST_PROCESSED_DATETIME>
</DETECTION>