{
  "log": {
    "_recordingName": "iterateVulnerabilitiesUnknownId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ea3b90d8e5c5142fc0123b5ee6006c9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "action=list&ids=123"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/knowledge_base/vuln/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 810,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE KNOWLEDGE_BASE_VULN_LIST_OUTPUT SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/knowledge_base/vuln/knowledge_base_vuln_list_output.dtd\">\n<!-- This report was generated with an evaluation version of Qualys //--> \n<KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n  <RESPONSE>\n    <DATETIME>2020-10-07T17:45:59Z</DATETIME>\n  </RESPONSE>\n</KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n<!-- This report was generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty that the information contained in this report is complete or error-free. Copyright 2020, Qualys, Inc. //--> \n<!-- keep-alive for KNOWLEDGE_BASE_VULN_LIST_OUTPUT  -->\n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "293"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21584,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
