{
  "log": {
    "_recordingName": "executeAPIRequest409",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "636aff891239e5f23899611e26954d5e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "username",
              "value": "upter3aw"
            },
            {
              "name": "truncation_limit",
              "value": "1"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3aw&truncation_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/csv;charset=UTF-8",
            "size": 534,
            "text": "----BEGIN_RESPONSE_BODY_CSV\n\"Date\",\"Action\",\"Module\",\"Details\",\"User Name\",\"User Role\",\"User IP\"\r\n\"2020-09-23T21:41:07Z\",\"request\",\"auth\",\"API: /api/2.0/fo/activity_log/index.php\",\"upter3aw\",\"Manager\",\"76.216.19.33\"\r\n----END_RESPONSE_BODY_CSV\n----BEGIN_RESPONSE_FOOTER_CSV\nWARNING\n\"CODE\",\"TEXT\",\"URL\"\r\n\"1980\",\"1 record limit exceeded. Use URL to get next batch of results.\",\"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3aw&truncation_limit=1&id_max=159545796\"\r\n----END_RESPONSE_FOOTER_CSV\n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "content-type",
              "value": "text/csv;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2424,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
