{
  "log": {
    "_recordingName": "iterateWebAppsPagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d32c77422391af117fcbeb901e925389",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "\n        <ServiceRequest>\n          <preferences>\n            <limitResults>1</limitResults>\n            <startFromOffset>1</startFromOffset>\n          </preferences>\n          \n        </ServiceRequest>"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/3.0/search/was/webapp"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 870,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/3.0/was/webapp.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>1</count>\n  <hasMoreRecords>true</hasMoreRecords>\n  <lastId>81221901</lastId>\n  <data>\n    <WebApp>\n      <id>81221901</id>\n      <name><![CDATA[Ask JupiterOne]]></name>\n      <url><![CDATA[http://ask.us.jupiterone.io]]></url>\n      <owner>\n        <id>10748728</id>\n      </owner>\n      <tags>\n        <count>0</count>\n      </tags>\n      <createdDate>2020-09-10T00:01:33Z</createdDate>\n      <updatedDate>2020-09-10T00:29:13Z</updatedDate>\n    </WebApp>\n  </data>\n</ServiceResponse>"
          },
          "headers": [
            {
              "name": "evaluation",
              "value": "false"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1156,
      },
      {
        "_id": "d32c77422391af117fcbeb901e925389",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization"[...]
