{
  "log": {
    "_recordingName": "fetchScannedWebAppIds",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d32c77422391af117fcbeb901e925389",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<ServiceRequest>\n  <preferences>\n    <limitResults>100</limitResults>\n    <startFromOffset>1</startFromOffset>\n  </preferences>\n  <filters><Criteria field=\"isScanned\" operator=\"EQUALS\">true</Criteria></filters>\n</ServiceRequest>"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/3.0/search/was/webapp"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 1382,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/3.0/was/webapp.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>7</count>\n  <hasMoreRecords>false</hasMoreRecords>\n  <data>\n    <WebApp>\n      <id>238483924</id>\n      <name><![CDATA[http://rest.vulnweb.com/]]></name>\n      <url><![CDATA[http://rest.vulnweb.com/]]></url>\n      <owner>\n        <id>17729931</id>\n      </owner>\n      <tags>\n        <count>0</count>\n      </tags>\n      <createdDate>2022-04-12T21:12:52Z</createdDate>\n      <updatedDate>2022-04-12T21:39:40Z</updatedDate>\n    </WebApp>\n    <WebApp>\n      <id>238483925</id>\n      <name><![CDATA[http://testhtml5.vulnweb.com]]></name>\n      <url><![CDATA[http://testhtml5.vulnweb.com]]></url>\n      <owner>\n        <id>17729931</id>\n      </owner>\n      <tags>\n        <count>0</count>\n      </tags>\n      <createdDate>2022-04-12T21:13:24Z</createdDate>\n      <updatedDate>2022-04-12T21:14:51Z</updatedDate>\n    </WebApp>\n    <WebApp>\n      <id>238483926</id>\n      <name[...]
