{
  "log": {
    "_recordingName": "iterateHostDetailsBadId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "0461695aca023cfd769c75e763ce205d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "\n      <ServiceRequest>\n        <preferences>\n          <limitResults>1</limitResults>\n        </preferences>\n        <filters>\n          <Criteria field=\"qwebHostId\" operator=\"IN\">abc123</Criteria>\n        </filters>\n      </ServiceRequest>"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/2.0/search/am/hostasset"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 702,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/2.0/am/hostasset.xsd\">\n  <responseCode>INVALID_REQUEST</responseCode>\n  <responseErrorDetails>\n    <errorMessage>Criteria: Invalid value format for criteria &apos;qwebHostId&apos; (abc123).</errorMessage>\n    <errorResolution>Specify criteria value(s) as Long.</errorResolution>\n  </responseErrorDetails>\n</ServiceResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 816,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
