{
  "log": {
    "_recordingName": "verifyAuthenticationExpired",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "636aff891239e5f23899611e26954d5e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "username",
              "value": "upter3aw"
            },
            {
              "name": "truncation_limit",
              "value": "1"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3aw&truncation_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 309,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE SIMPLE_RETURN SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/simple_return.dtd\">\n<SIMPLE_RETURN>\n  <RESPONSE>\n    <DATETIME>2020-11-23T18:29:09Z</DATETIME>\n    <CODE>2001</CODE>\n    <TEXT>This account has expired.</TEXT>\n  </RESPONSE>\n</SIMPLE_RETURN>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1590,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
