{
  "log": {
    "_recordingName": "verifyAuthenticationInaccesible",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "20acf7cba1600c005425abbdcbc0dd79",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "list"
            },
            {
              "name": "username",
              "value": "testing-failure"
            },
            {
              "name": "truncation_limit",
              "value": "1"
            }
          ],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=testing-failure&truncation_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 302,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE SIMPLE_RETURN SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/simple_return.dtd\">\n<SIMPLE_RETURN>\n  <RESPONSE>\n    <DATETIME>2020-09-23T21:41:06Z</DATETIME>\n    <CODE>2000</CODE>\n    <TEXT>Bad Login/Password</TEXT>\n  </RESPONSE>\n</SIMPLE_RETURN>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 582,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
