{
  "log": {
    "_recordingName": "iterateVulnerabilities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ea3b90d8e5c5142fc0123b5ee6006c9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "action=list&ids=316760"
          },
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/knowledge_base/vuln/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 3787,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE KNOWLEDGE_BASE_VULN_LIST_OUTPUT SYSTEM \"https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/knowledge_base/vuln/knowledge_base_vuln_list_output.dtd\">\n<!-- This report was generated with an evaluation version of Qualys //--> \n<KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n  <RESPONSE>\n    <DATETIME>2020-10-07T17:46:23Z</DATETIME>\n<!-- keep-alive for KNOWLEDGE_BASE_VULN_LIST_OUTPUT  -->\n    <VULN_LIST>\n      <VULN>\n        <QID>316760</QID>\n        <VULN_TYPE>Vulnerability or Potential Vulnerability</VULN_TYPE>\n        <SEVERITY_LEVEL>3</SEVERITY_LEVEL>\n        <TITLE><![CDATA[Cisco IOS XE Software Command Injection Vulnerability (cisco-sa-iosxe-cmdinj-2MzhjM6K)]]></TITLE>\n        <CATEGORY>Cisco</CATEGORY>\n        <LAST_SERVICE_MODIFICATION_DATETIME>2020-10-07T13:02:59Z</LAST_SERVICE_MODIFICATION_DATETIME>\n        <PUBLISHED_DATETIME>2020-10-07T12:11:44Z</PUBLISHED_DATETIME>\n        <PATCHABLE>1</PATCHABLE>\n        <SOFTWARE_LIST>\n          <SOFTWARE>\n            <PRODUCT><![CDATA[ios_xe]]></PRODUCT>\n            <VENDOR><![CDATA[cisco]]></VENDOR>\n          </SOFTWARE>\n        </SOFTWARE_LIST>\n        <VENDOR_REFERENCE_LIST>\n          <VENDOR_REFERENCE>\n            <ID><![CDATA[cisco-sa-iosxe-cmdinj-2MzhjM6K]]></ID>\n            <URL><![CDATA[https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-iosxe-cmdinj-2MzhjM6K]]></URL>\n          </VENDOR_REFERENCE>\n        </VENDOR_REFERENCE_LIST>\n        <CVE_LIST>\n          <CVE>\n            <ID><![CDATA[CVE-2020-3403]]></ID>\n            <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-3403]]></URL>\n          </CVE>\n        </CVE_LIST>\n        <DIAGNOSIS><![CDATA[A vulnerability in the CLI of Cisco IOS XE Software could allow an authenticated, local attacker to inject a command to the underlying operating system that will execute with root privileges upon the next reboot of the device. The authenticated user must have privileged EXEC permissions on the device.<P>\n\n<P>QID Detection Logic (Authenticated):<BR>The check matches Cisco IOS XE version retrieved via Unix Auth using &quot;show version&quot; command. <BR>QID Detection Logic (Unauthenticated):<BR>The check matches Cisco IOS XE version retrieved via SNMP or TCP/IP Fingerprint or NTP or Telnet. <BR>]]></DIAGNOSIS>\n        <CONSEQUENCE><![CDATA[ A successful exploit could allow the attacker to execute commands with root privileges each time the affected device is restarted.<P>]]></CONSEQUENCE>\n        <SOLUTION><![CDATA[<P>Customers are advised to refer to <A HREF=\"https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-iosxe-cmdinj-2MzhjM6K\" TARGET=\"_blank\">cisco-sa-iosxe-cmdinj-2MzhjM6K</A> for more information.\n<P>Patch:<BR>\nFollowing are links for downloading patches to fix the vulnerabilities:\n<P> <A HREF=\"https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-iosxe-cmdinj-2MzhjM6K\" TARGET=\"_blank\">cisco-sa-iosxe-cmdinj-2MzhjM6K</A>]]></SOLUTION>\n        <PCI_FLAG>1</PCI_FLAG>\n        <DISCOVERY>\n          <REMOTE>1</REMOTE>\n          <AUTH_TYPE_LIST>\n            <AUTH_TYPE>Unix</AUTH_TYPE>\n            <AUTH_TYPE>SNMP</AUTH_TYPE>\n            <AUTH_TYPE>WEBLOGIC_VULN</AUTH_TYPE>\n          </AUTH_TYPE_LIST>\n          <ADDITIONAL_INFO>Patch Available</ADDITIONAL_INFO>\n        </DISCOVERY>\n      </VULN>\n    </VULN_LIST>\n  </RESPONSE>\n</KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n<!-- This report was generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty that the information contained in this report is complete or error-free. Copyright 2020, Qualys, Inc. //--> \n"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-window-sec",
              "value": "3600"
            },
            {
              "name": "x-concurrency-limit-limit",
              "value": "2"
            },
            {
              "name": "x-concurrency-limit-running",
              "value": "0"
            },
            {
              "name": "x-ratelimit-towait-sec",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "291"
            },
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 27168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
