{
  "log": {
    "_recordingName": "fetchAssessments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/portal/version"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/xml",
            "size": 1037,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/version.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>1</count>\n  <data>\n    <Portal-Version>\n      <PortalApplication-VERSION>3.13.0.1-1 OFFICIAL #43 (2022-10-11T11:32:14Z)</PortalApplication-VERSION>\n      <QWEB__VM-VERSION>2.13.0-1</QWEB__VM-VERSION>\n      <ITAM-VERSION>2.12.0.1-1</ITAM-VERSION>\n      <WAF-VERSION>2.13.8.0</WAF-VERSION>\n      <QUESTIONNAIRE__V2-VERSION>1.21.0.0</QUESTIONNAIRE__V2-VERSION>\n      <WAS-VERSION>1.4.0.0-4</WAS-VERSION>\n      <ICS-VERSION>1.0.0.1-10</ICS-VERSION>\n      <WAF__V3-VERSION>3.0.4.0</WAF__V3-VERSION>\n      <CERTVIEW-VERSION>2.9.0.0-102</CERTVIEW-VERSION>\n      <CLOUDVIEW-VERSION>1.25.0.2-2</CLOUDVIEW-VERSION>\n      <MDS-VERSION>2.19.3.0-1</MDS-VERSION>\n      <PS-VERSION>1.5.1.0-23</PS-VERSION>\n      <IOC-VERSION>2.1.1-22</IOC-VERSION>\n      <OCA-VERSION>1.8.0.0</OCA-VERSION>\n      <UD-VERSION>1.2.0-5</UD-VERSION>\n      <QWEB__PC-VERSION>1.1.2-12</QWEB__PC-VERSION>\n      <CS-VERSION>1.19.1-10</CS-VERSION>\n      <CA-VERSION>3.13.0.0</CA-VERSION>\n      <SECURITY__ANALYTICS-VERSION>1.0.4</SECURITY__ANALYTICS-VERSION>\n      <QGS-VERSION>1.4.0-12</QGS-VERSION>\n      <QUESTIONNAIRE-VERSION>2.33.0.0</QUESTIONNAIRE-VERSION>\n      <FIM-VERSION>3.4.2.0-10</FIM-VERSION>\n      <CM-VERSION>1.37.0.0</CM-VERSION>\n      <PM-VERSION>1.9.0.0-236</PM-VERSION>\n      <THREAT__PROTECT-VERSION>1.8.1</THREAT__PROTECT-VERSION>\n      <AV2-VERSION>0.1.0</AV2-VERSION>\n      <SEM-VERSION>1.5.0-0</SEM-VERSION>\n      <SSC-VERSION>1.7.0.1</SSC-VERSION>\n      <SM-VERSION>1.4.0.0-35</SM-VERSION>\n    </Portal-Version>\n    <QWeb-Version>\n      <WEB-VERSION>10.20.3.0-4</WEB-VERSION>\n      <SCANNER-VERSION>12.11.33-1</SCANNER-VERSION>\n      <VULNSIGS-VERSION>2.5.609-2</VULNSIGS-VERSION>\n    </QWeb-Version>\n  </data>\n</ServiceResponse>"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1563,
      },
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url":[...]
