{
  "log": {
    "_recordingName": "verifyAuthenticationInaccesible",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/portal/version"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 646,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/2.0/am/hostasset.xsd\">\n  <responseCode>INVALID_CREDENTIALS</responseCode>\n  <responseErrorDetails>\n    <errorMessage>Authentication failed</errorMessage>\n    <errorResolution>Verify both, user and password credentials.</errorResolution>\n  </responseErrorDetails>\n</ServiceResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
