{
  "log": {
    "_recordingName": "fetchPortalInfo",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5cb93e99a45d412ac29b8aae666fd8f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-requested-with",
              "value": "@jupiterone/graph-qualys"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://qualysapi.qg3.apps.qualys.com/qps/rest/portal/version"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 1345,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ServiceResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://qualysapi.qg3.apps.qualys.com/qps/xsd/version.xsd\">\n  <responseCode>SUCCESS</responseCode>\n  <count>1</count>\n  <data>\n    <Portal-Version>\n      <PortalApplication-VERSION>3.1.2.0-2 OFFICIAL #597 (2020-09-15T15:54:59Z)</PortalApplication-VERSION>\n      <ITAM-VERSION>1.2.1.0-1</ITAM-VERSION>\n      <CS-VERSION>1.6.8.0-36</CS-VERSION>\n      <CA-VERSION>2.23.0.0</CA-VERSION>\n      <QGS-VERSION>1.2.0.0-6</QGS-VERSION>\n      <QUESTIONNAIRE-VERSION>2.23.1.0</QUESTIONNAIRE-VERSION>\n      <WAF-VERSION>2.12.4.0</WAF-VERSION>\n      <QUESTIONNAIRE__V2-VERSION>1.10.1.0</QUESTIONNAIRE__V2-VERSION>\n      <WAS-VERSION>6.13.1.0</WAS-VERSION>\n      <FIM-VERSION>2.3.1.0</FIM-VERSION>\n      <VM-VERSION>1.0.3</VM-VERSION>\n      <CERTVIEW-VERSION>2.6.0.2-7</CERTVIEW-VERSION>\n      <CLOUDVIEW-VERSION>1.11.0.0-1</CLOUDVIEW-VERSION>\n      <CM-VERSION>1.30.0.0</CM-VERSION>\n      <MDS-VERSION>2.15.7.0</MDS-VERSION>\n      <PM-VERSION>1.4.3.0-289</PM-VERSION>\n      <PS-VERSION>1.2.0.0-RELEASE</PS-VERSION>\n      <IOC-VERSION>3.0.0.0-4</IOC-VERSION>\n      <THREAT__PROTECT-VERSION>1.2.0.0</THREAT__PROTECT-VERSION>\n      <AV2-VERSION>0.1.0</AV2-VERSION>\n      <UD-VERSION>0.0.6</UD-VERSION>\n    </Portal-Version>\n    <QWeb-Version>\n      <WEB-VERSION>10.3.0.2-2</WEB-VERSION>\n      <SCANNER-VERSION>12.1.67-1</SCANNER-VERSION>\n      <VULNSIGS-VERSION>2.4.993-2</VULNSIGS-VERSION>\n    </QWeb-Version>\n  </data>\n</ServiceResponse>"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1231,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
