----BEGIN_RESPONSE_BODY_CSV
"Date","Action","Module","Details","User Name","User Role","User IP"
"2020-09-23T21:39:10Z","request","auth","API: /api/2.0/fo/activity_log/index.php","upter3aw","Manager","76.216.19.33"
----END_RESPONSE_BODY_CSV
----BEGIN_RESPONSE_FOOTER_CSV
WARNING
"CODE","TEXT","URL"
"1980","1 record limit exceeded. Use URL to get next batch of results.","https://qualysapi.qg3.apps.qualys.com/api/2.0/fo/activity_log/?action=list&username=upter3aw&truncation_limit=1&id_max=159545655"
----END_RESPONSE_FOOTER_CSV

