<?xml version="1.0" encoding="UTF-8"?>
<ServiceResponse xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://qualysapi.qg3.apps.qualys.com/qps/xsd/version.xsd">
  <responseCode>SUCCESS</responseCode>
  <count>1</count>
  <data>
    <Portal-Version>
      <PortalApplication-VERSION>3.1.2.0-2 OFFICIAL #597 (2020-09-15T15:54:59Z)</PortalApplication-VERSION>
      <ITAM-VERSION>1.2.1.0-1</ITAM-VERSION>
      <CS-VERSION>1.6.8.0-36</CS-VERSION>
      <CA-VERSION>2.23.0.0</CA-VERSION>
      <QGS-VERSION>1.2.0.0-6</QGS-VERSION>
      <QUESTIONNAIRE-VERSION>2.23.1.0</QUESTIONNAIRE-VERSION>
      <WAF-VERSION>2.12.4.0</WAF-VERSION>
      <QUESTIONNAIRE__V2-VERSION>1.10.1.0</QUESTIONNAIRE__V2-VERSION>
      <WAS-VERSION>6.13.1.0</WAS-VERSION>
      <FIM-VERSION>2.3.1.0</FIM-VERSION>
      <VM-VERSION>1.0.3</VM-VERSION>
      <CERTVIEW-VERSION>2.6.0.2-7</CERTVIEW-VERSION>
      <CLOUDVIEW-VERSION>1.11.0.0-1</CLOUDVIEW-VERSION>
      <CM-VERSION>1.30.0.0</CM-VERSION>
      <MDS-VERSION>2.15.7.0</MDS-VERSION>
      <PM-VERSION>1.4.3.0-289</PM-VERSION>
      <PS-VERSION>1.2.0.0-RELEASE</PS-VERSION>
      <IOC-VERSION>3.0.0.0-4</IOC-VERSION>
      <THREAT__PROTECT-VERSION>1.2.0.0</THREAT__PROTECT-VERSION>
      <AV2-VERSION>0.1.0</AV2-VERSION>
      <UD-VERSION>0.0.6</UD-VERSION>
    </Portal-Version>
    <QWeb-Version>
      <WEB-VERSION>10.3.0.2-2</WEB-VERSION>
      <SCANNER-VERSION>12.1.67-1</SCANNER-VERSION>
      <VULNSIGS-VERSION>2.4.993-2</VULNSIGS-VERSION>
    </QWeb-Version>
  </data>
</ServiceResponse>