<KNOWLEDGE_BASE_VULN_LIST_OUTPUT>
  <RESPONSE>
    <VULN_LIST>
      {{#vulns}}
        {{#qualys}}{{> qualysVuln}}{{/qualys}}
        {{#cve}}{{> cveVuln}}{{/cve}}
      {{/vulns}}
    </VULN_LIST>
  </RESPONSE>
</KNOWLEDGE_BASE_VULN_LIST_OUTPUT>