<?xml version="1.0" encoding="UTF-8"?>
<ServiceResponse xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://qualysapi.qg3.apps.qualys.com/qps/xsd/3.0/was/webapp.xsd">
  <responseCode>SUCCESS</responseCode>
  <count>1</count>
  <hasMoreRecords>false</hasMoreRecords>
  <data>
    <WebApp>
      <id>81221901</id>
      <name><![CDATA[Ask JupiterOne]]></name>
      <url><![CDATA[http://ask.us.jupiterone.io]]></url>
      <owner>
        <id>10748728</id>
      </owner>
      <tags>
        <count>0</count>
      </tags>
      <createdDate>2020-09-10T00:01:33Z</createdDate>
      <updatedDate>2020-09-10T00:29:13Z</updatedDate>
    </WebApp>
  </data>
</ServiceResponse>